BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -2

ColumnLimit: 80

BreakBeforeBraces: Attach

PointerAlignment: Right

NamespaceIndentation: All
FixNamespaceComments: true

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never

IndentCaseLabels: true
